@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Phudu:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    #000000,
    #290033,
    #04001b,
    #300000,
    #1a0000
  );
  background-size: 300% 300%;
  animation: color-pan 7s ease-in-out infinite alternate;
}

.card {
  background-color: rgb(14, 14, 14);
  border-radius: 20px;
  border: solid 1px white;
  max-width: max-content;
  width: 80vw;
  height: auto;
  padding: 50px;
  box-shadow: 15px 15px 50px rgb(0, 0, 0);
}

h1 {
  align-items: center;
  font-size: 4rem;
  width: 100%;
  margin: 50px;
  text-transform: uppercase;
}

p {
  margin: 10px;
  width: max-content;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .card {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
    margin: 10px;
  }

  p {
    font-size: 0.9rem;
  }
}

@keyframes color-pan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
